<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- yeti Bootstrap Theme -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <!-- custom js -->
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
  </head>
  <body>
    <!-- Nav bar from W3Schools.com -->
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <a class="navbar-brand" href="/">Express Tracker</a>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Projects/index">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/courses/add">Add a course</a>
    </li>
    </ul>
</nav>
    {{{body}}}
  </body>
</html>
